<<<<<<< HEAD


<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.mySlides {display:none}
</style>
<body class="w3-content w3-border-left w3-border-right">

  <% provide(:title, @user.name) %>
<!-- Sidebar/menu -->

  
<!-- End page content -->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to "Log out", "/login", method: :destroy %>
        
      </h1>
    </section>
  </aside>
</div>
<div class="row">

  <%= render 'stcs/form.html.erb' %>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displaycourses</title>
</head>
<body>
<span class="w3-jumbo w3-hide-small"><center><font size = "20"><% provide(:title, @user.name) %></font> </center></span><br>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>
<div class="row">

    <%= render 'stcs/form.html.erb' %>
>>>>>>> 7af9925da83a5e6ad504ccfac09df66eb149fc06




<<<<<<< HEAD
=======
</div>

</body>
</html>
>>>>>>> 7af9925da83a5e6ad504ccfac09df66eb149fc06
