<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
<%= render "shared/show_courses.html.erb" %>


    <%  @courses.each do |course| %>

          <%= check_box_tag(course.title) %>
          <%= label_tag(course.title, course.title) %>



  <%end%>

</div>
