<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>displaycourses</title>
</head>
<body>
<div class="w3-right">
  <br>
  <a class="w3-button w3-theme"><%= link_to "Log out", "/login", method: :destroy %></a>
</div>
<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>
<div class="row">

    <%= render 'stcs/form.html.erb' %>
    
</div>

</body>
</html>
