

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to "Log out", "/login", method: :destroy %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <%= form_for(Stc.new) do |f| %>
    <% @courses.each do |course| %>
      <%= render 'shared/error_messages' %>
      <%= label_tag course.title, course.title %>
      <%= f.label :semester, 'Semester' %>
      <%= f.text_field :semester, class: 'form-control' %>

      <%end%>
      <%= f.submit "Student taken course", class: "btn btn-primary" %>

  <% end %>
</div>
