

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to "Log out", "/login", method: :destroy %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <p id="notice"><%= notice %></p>
  <%= form_for(Stc.new, url:{action:'new'}) do |f| %>
    <% @courses.each do |course| %>
      <%= render 'shared/error_messages' %>
      <%= label_tag course.title, course.title %>
      <%= f.label :semester %>
      <%= select_tag(:semester, options_for_select([['--------','-----------'], ['Fall', 'Fall'], ['Spring', 'Spring']])) %>
      <%= select_tag(:semester, options_for_select([['--------','-----------'], ['2012', '2012'], ['2013', '2013'], ['2014', '2014'], ['2015', '2015'], ['2016', '2016'], ['2017', '2017']])) %>
      <%end%>

    <%= f.submit "Student taken course", class: "btn btn-primary" %>
  <% end %>

<% render "stcs/show.html.erb" %>

</div>
