<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displaycourses</title>
</head>
<body>
<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>
<div class="row">

    <%= render 'stcs/form.html.erb' %>
    
</div>
    
    <div class="w3-right">
  <br>
  <a class="w3-button w3-theme"><%= link_to "Log out", "/login", method: :destroy %></a>
</div>

</body>
</html>
